name: CI

 on:
   push:
     branches:
       - 'main'
   pull_request:
     branches:
       - 'main'
   workflow_dispatch:

 jobs:
   unit-tests:
     runs-on: ubuntu-20.04
     steps:
       - name: Checkout
         uses: actions/checkout@v2
         with:
           fetch-depth: 0

       - name: Install Dependencies
         run: "echo CI" 
