name: Test PR
on:
  pull_request:
  workflow_dispatch:

jobs:
  commitlint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        creds:
          - username: DOCKER_USER
            password: DOCKER_PASSWORD
          - username: QUAY_USER
            password: QUAY_PASSWORD 
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: echo "${{ matrix.username }}"
      - run: echo "${{ matrix.password }}"
