name: Test PR
on:
  pull_request:
  workflow_dispatch:

jobs:
  deploy:
    name: dev
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        creds:
          - username: DOCKER_USER
            password: DOCKER_PASSWORD
          - username: QUAY_USER
            password: QUAY_PASSWORD
    env:
      REGISTRY_USER: ${{ secrets[format('{0}', matrix.username)] }}
      REGISTRY_PASSWORD: ${{ secrets[format('{0}', matrix.password)] }}
    steps:
      - run: echo ${{ matrix.username }}
      - run: echo ${{ matrix.password }}
      - run: echo $REGISTRY_USER
      - run: echo $REGISTRY_PASSWORD
