name: Test PR
on:
  pull_request:
  workflow_dispatch:

jobs:
  commitlint:
    runs-on: ubuntu-latest
    env:
      TEST_USER: hello
      TESTING_USER: world
    strategy:
      fail-fast: false
      matrix:
        user: [${env.TEST_USER}]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: echo "${{ matrix.user }}"
